Library/AssetImportState
Library/AssetServerCacheV3
Library/FailedAssetImports.txt
Library/ScriptAssemblies
Library/assetDatabase3
Library/cache
Library/expandedItems
Library/previews
Library/guidmapper
Library/InspectorExpandedItems.asset
Library/metadata
Library/ScriptMapper
/Temp

*.csproj
*.unityproj
*.pidb

Synthipede-csharp.sln
Synthipede.sln
Synthipede.userprefs
